.suspension-menu {
  width: 140px;
  height: 210px;
  position: fixed;
  z-index: 10;
  top: 40%;
}

.suspension-top-menu {
  width: 131px;
  height: 41px;
  background-image: url(src/assets/images/SuspensionMenu1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto 10px auto;
  text-align: center;
  line-height: 43px;
  color: #fff;
  font-size: 12px;
}

.suspension-main-menu-1 {
  background-image: url(src/assets/images/SuspensionMenu2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 106px;
  height: 33px;
  margin: 0 auto 10px auto;
  text-align: center;
  line-height: 35px;
  color: #fff;
  display: block;
  position: relative;
}

.suspension-main-menu-2 {
  background-image: url(src/assets/images/SuspensionMenu4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 62px;
  height: 62px;
  margin: -40px auto 0 auto;
}

@media (max-width:768px) {
  .suspension-menu {
    display: none;
  }
}