<content>
  <div class="suspension-menu">
    <div class="suspension-top-menu">专注6~18岁编程教育</div>
    <a class="suspension-main-menu-1" [ngClass]="url === '/' ? 'active' : ''" routerLink="/">客服咨询</a>
    <a class="suspension-main-menu-1" [ngClass]="url === '/curriculum' ? 'active' : ''" routerLink="/curriculum">课程介绍</a>
    <a class="suspension-main-menu-1" [ngClass]="url === '/signUp' ? 'active' : ''" routerLink="/signUp">在线报名</a>
    <div class="suspension-main-menu-2"></div>
  </div>
</content>