<div>
  <!--banner-->
  <div class="banner">
    <!--header-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">编程小猴</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="http://koudaigou.net/web/formview/5c2e1ce275a03c0f7fee8744">报名</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="http://paracraft.keepwork.com/archives/category/recommend?lang=zh">作品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:alert('请拨打15018403205')">联系我们</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--//header-->
    <div class="container">
			<div class="row">
				<div class="col-12 banner-info">
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="banner-info1">
										<h1>每个在校学生<br /><span>都应该有机会学习计算机科学</span></h1>
										<p>当我们学会编程的时候<br />我们才开始真正的思考这个世界</p>
									</div>
								</li>
								<li>
									<div class="banner-info1">
										<h1>人工智能时代来临</h1>
										<p>未来是人工智能的世界</p>
	
									</div>
								</li>
								<li>
									<div class="banner-info1">
										<h1>国家逐步把编程列为<br /><span>重点发展的学科</span></h1>
										<p>将信息化教学能力纳入学校办学水平考评体系</p>
									</div>
								</li>
							</ul>
						</div>
					</section>
				</div>
			</div>
    </div>
  </div>
  <!--//banner-->
  <!--students-->
  <div class="students container-fluid">
    <div class="row">
      <div class="col-md-8 students-left wow fadeInLeft animated" data-wow-delay=".5s">
        <h2><a target="_blank" href="http://www.paracraft.cn">Paracraft 创意空间</a></h2>
        <h3>创作3D游戏与动画作品</h3>
        <p>Paracraft创意空间是一款面向7岁以上用户的免费的3D创作软件。</p>
        <p>你可以用它创建3D场景和人物，制作动画和电影，学习和编写计算机程序。下载软件后，可观看百部优秀的用户电影作品，创造属于你的个人作品。</p>
      </div>
      <div class="col-md-4 students-right wow fadeInRight animated" data-wow-delay=".5s">
        <ul>
          <li>
            <div class="history-grid-image">
              <img src="assets/images/t10.jpg" class="img-responsive zoom-img" alt="">
            </div>
          </li>
          <li>
            <div class="history-grid-image">
              <img src="assets/images/t11.jpg" class="img-responsive zoom-img" alt="">
            </div>
          </li>
          <li>
            <div class="history-grid-image">
              <img src="assets/images/t12.jpg" class="img-responsive zoom-img" alt="">
            </div>
          </li>
          <li>
            <div class="history-grid-image">
              <img src="assets/images/t13.jpg" class="img-responsive zoom-img" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--//students-->
  <!--best-->
  <div class="best">
    <div class="container">
      <div class="row">
        <div class="col-md-6 best-left wow fadeInLeft animated" data-wow-delay=".5s">
          <h3>最新消息</h3>
          <div class="bes-top">
            <div class="bes-lft">
              <div class="history-grid-image">
                <img src="assets/images/t8.jpg" class="img-responsive zoom-img" alt="">
              </div>
            </div>
            <div class="bes-rgt">
              <h4>编程小猴基础班</h4>
              <h5>2019年1月3日</h5>
              <p>基础班即将开班，点击此处可以<a target="_blank" href="http://koudaigou.net/web/formview/5c2e1ce275a03c0f7fee8744">立即报名</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="bes-top1">
            <div class="bes-lft">
              <div class="history-grid-image">
                <img src="assets/images/t9.jpg" class="img-responsive zoom-img" alt="">
              </div>
            </div>
            <div class="bes-rgt">
              <h4><a target="_blank" href="http://www.china-scratch.com/news/1361">为什么孩子要学习编程?</a></h4>
              <h5>2019年1月3日</h5>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6 best-left wow fadeInRight animated" data-wow-delay=".5s">
          <h3>教学内容</h3>
          <p>编程小猴线下引导课分三个班开展：基础班、动画班、编程班</p>
          <div class="bes-top">
            <ul>
              <li>
                <div class="history-grid-image">
                  <img src="assets/images/t1.jpg" class="img-responsive zoom-img" alt="">
                </div>
                <h6><a href="singlepage.html">基础班</a></h6>
                <h5>即将开课(三月初)</h5>
              </li>
              <li>
                <div class="history-grid-image">
                  <img src="assets/images/t2.jpg" class="img-responsive zoom-img" alt="">
                </div>
                <h6><a href="singlepage.html">动画班</a></h6>
                <h5>尚未开课</h5>
              </li>
              <li>
                <div class="history-grid-image">
                  <img src="assets/images/t3.jpg" class="img-responsive zoom-img" alt="">
                </div>
                <h6><a href="singlepage.html">编程班</a></h6>
                <h5>尚未开课</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--best-->
  <!--course-->
  <div class="course">
    <div class="container">
			<div class="row">
				<div class="col-md-4 course-left wow fadeInLeft animated" data-wow-delay=".5s">
					<h3>图形化编程课</h3>
					<div class="history-grid-image">
						<img src="assets/images/n2.jpg" class="img-responsive zoom-img" alt="">
					</div>
					<p>
            首选编程入门课程 <br />
            让编程像搭积木一样好玩
          </p>
				</div>
				<div class="col-md-4 course-left animated wow fadeInUp animated animated" data-wow-duration="1200ms"
					data-wow-delay="500ms">
					<h3>NPL代码编程课</h3>
					<div class="history-grid-image">
						<img src="assets/images/n3.jpg" class="img-responsive zoom-img" alt="">
					</div>
					<p>
            神经并行语言，可用于游戏，机器学习等开发
          </p>
				</div>
				<div class="col-md-4 course-left wow fadeInRight animated" data-wow-delay=".5s">
					<h3>基础班课程</h3>
					<ul>
						<li>安装Paracraft，学习基本操作工具</li>
						<li>创建方块，删除方块，移动方块，复制方块</li>
						<li>批量操作方块</li>
						<li>电影方块介绍</li>
						<li>演员和动画</li>
						<li>制作开场动画</li>
						<li>课堂实验：会动的雪人</li>
						<li>使用Bmax模型</li>
					</ul>
					<p>具体以实际课程安排为准</p>
				</div>
			</div>
    </div>
  </div>
  <!--course-->
  <!--semst-->
  <div class="semst">
    <div class="container">
			<div class="row">
				<!-- <div class="col-md-7 semst-left wow fadeInLeft animated" data-wow-delay=".5s">
					<h3>Semester's best teachers</h3>
					<ul>
						<li>
							<div class="history-grid-image">
								<img src="assets/images/t4.jpg" class="img-responsive zoom-img" alt="">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetu er elit.</p>
						</li>
						<li>
							<div class="history-grid-image">
								<img src="assets/images/t5.jpg" class="img-responsive zoom-img" alt="">
							</div>
							<p>Consectetu er adipiscing elit, sed diam nonummy.</p>
						</li>
						<li>
							<div class="history-grid-image">
								<img src="assets/images/t6.jpg" class="img-responsive zoom-img" alt="">
							</div>
							<p>Sed diam nonummy nibh eu ismod tincidunt ut.</p>
						</li>
					</ul>
				</div> -->
				<div class="col-md-5 semst-right wow fadeInRight animated" data-wow-delay=".5s">
					<h3>输入您的Email，随时获取最新的开课资讯</h3>
					<form action="#" method="post">
						<input type="text" name="search" value="Enter Your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your email';}">
						<input type="submit" value="订阅">
					</form>
				</div>
			</div>
    </div>
  </div>
  <!--semst-->
  <!--footer-->
  <div class="footer">
    <div class="container">
			<div class="row">
				<div class="col-md-3 footer-left wow fadeInRight animated" data-wow-delay=".5s">
					<h4>友情链接</h4>
					<ul>
						<li><a target="_blank" href="http://www.paracraft.cn">Paracraft 创意空间</a></li>
						<li><a target="_blank" href="http://keepwork.com">KEEPWORK</a></li>
					</ul>
				</div>
				<div class="col-md-3 soci wow fadeInRight animated" data-wow-delay=".5s">
					<h4>关注我们</h4>
					<ul>
						<li><a href="#"><i class="f-1"> </i></a></li>
						<li><a href="#"><i class="t-1"> </i></a></li>
						<li><a href="#"><i class="g-1"> </i></a></li>
					</ul>
				</div>
			</div>
    </div>
  </div>
  <!--footer-->
</div>
