.contact {
  width: 100%;
  height: 890px;
  background-image: url(../../../assets/images/banner.jpg);
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.contact-text {
  padding-top: 190px;
}

.contact-text div {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.shop {
  font-size: 1.5em;
}

.shop-address {
  font-size: 2em;
  font-weight: bolder;
}

.phone {
  font-size: 1.5em;
}

.phone-number {
  font-size: 2em;
  font-weight: bolder;
}

.wechat {
  font-size: 1.5em;
}

.wechat-number {
  font-size: 2em;
  font-weight: bolder;
}

.body-bottom {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#map {
  width: 65%;
  height: 775px;
  float: left;
}

.QR-code {
  background-image: url(../../../assets/images/QR2.png);
  width: 30%;
  height: 775px;
  float: right;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
}

.anchorBL{
  display:none;
}

@media (max-width:1280px) {
  .contact {
    height: 560px;
  }
  
  .shop {
    font-size: 1em;
  }
  
  .shop-address {
    font-size: 1.5em;
    font-weight: bolder;
  }
  
  .phone {
    font-size: 1em;
  }
  
  .phone-number {
    font-size: 1.5em;
    font-weight: bolder;
  }
  
  .wechat {
    font-size: 1em;
  }
  
  .wechat-number {
    font-size: 1.5em;
    font-weight: bolder;
  }

  .map {
    height: 434px;
  }
  
  .QR-code {
    height: 434px;
  }
}
@media (max-width:1280px) {
  .contact {
    height: 490px;
  }
  .contact-text {
    padding-top: 120px;
  }
}

@media (max-width:768px) {
  .contact {
    height: 410px;
  }

  .contact-text {
    padding-top: 90px;
  }

  #map {
    width: 100%;
    height: 450px;
  }

  .QR-code {
    width: 100%;
    height: 490px;
    display: block;
    clear: both;
  }
}

@media (max-width:640px) {
  .contact {
    width: 100%;
    height: 170px;
  }

  .contact-text {
    padding-top: 25px;
  }

  .contact-text div {
    margin-bottom: 5px;
  }

  .shop {
    font-size: 0.5em;
  }
  
  .shop-address {
    font-size: 1em;
    font-weight: bolder;
  }
  
  .phone {
    font-size: 0.5em;
  }
  
  .phone-number {
    font-size: 1em;
    font-weight: bolder;
  }
  
  .wechat {
    font-size: 0.5em;
  }
  
  .wechat-number {
    font-size: 1em;
    font-weight: bolder;
  }

  #map {
    width: 100%;
    height: 450px;
  }

  .QR-code {
    width: 100%;
    height: 490px;
    display: block;
    clear: both;
  }
}