<header></header>
<div class="contact">
  <div class="contact-text">
    <div class="shop">
      <span>店铺地址</span><br />
      <span class="shop-address">佛山市顺德区乐从镇威斯广场中心广场101号铺</span>
    </div>
    <div class="phone">
      <span>联系电话</span><br />
      <span class="phone-number">18038805100（陈老师）</span>
    </div>
    <div class="wechat">
      <span>微信公众号</span><br />
      <span class="wechat-number">编程小猴</span>
    </div>
  </div>
</div>
<div class="body-bottom">
  <div id = "map"></div>
  <div class="QR-code"></div>
</div>

<footer></footer>