.contact {
  width: 100%;
  height: 675px;
  background-image: url(../../../assets/images/banner.jpg);
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.contact-text {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  max-width: 1180px;
}

.contact-text div {
  width: auto;
  text-align: left;
  margin-bottom: 20px;
  color: #fff;
}

.shop-title {
  font-size: 2em;
  font-weight: bolder;
}

.shop-address {
  font-size: 1.5em;
}

.phone-title {
  font-size: 2em;
  font-weight: bolder;
}

.phone-number {
  font-size: 1.5em;
}

.wechat-title {
  font-size: 2em;
  font-weight: bolder;
}

.wechat-number {
  font-size: 1.5em;
}

.body-bottom {
  max-width: 1180px;
  height: auto;
  overflow: hidden;
  margin: 0 auto 10px auto;
}

.QR-max {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.QR {
  background-image: url(../../../assets/images/qrcode.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 258px;
  height: 258px;
}

#map {
  width: 100%;
  height: 775px;
  float: left;
}

.anchorBL{
  display:none;
}

@media (max-width:1280px) {
  .contact {
    height: 490px;
  }

  .contact-text {
    padding-top: 65px;
  }
  
  .shop-title {
    font-size: 1.5em;
    font-weight: bolder;
  }
  
  .shop-address {
    font-size: 1em;
  }
  
  .phone-title {
    font-size: 1.5em;
    font-weight: bolder;
  }
  
  .phone-number {
    font-size: 1em;
  }
  
  .wechat-title {
    font-size: 1.5em;
    font-weight: bolder;
  }
  
  .wechat-number {
    font-size: 1em;
  }

  .QR {
    width: 128px;
    height: 128px;
  }

  .map {
    height: 434px;
  }
}

@media (max-width:768px) {
  .contact {
    height: 410px;
  }

  .contact-text {
    padding-top: 90px;
  }

  #map {
    width: 100%;
    height: 450px;
  }
}

@media (max-width:640px) {
  .contact {
    width: 100%;
    height: 100%;
  }

  .contact-text {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact-text div {
    margin-bottom: 5px;
  }

  .shop-title {
    font-size: 1em;
    font-weight: bolder;
  }
  
  .shop-address {
    font-size: 0.5em;
  }
  
  .phone-title {
    font-size: 1em;
    font-weight: bolder;
  }
  
  .phone-number {
    font-size: 0.5em;
  }
  
  .wechat-title {
    font-size: 1em;
    font-weight: bolder;
  }
  
  .wechat-number {
    font-size: 0.5em;
  }

  #map {
    width: 100%;
    height: 450px;
  }

  .QR {
    margin: 0 auto;
  }
}

@media (max-width:320px) { 
  .contact {
    width: 100%;
    height: 100%;
  }

  .contact-text {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .QR {
    margin: 10px auto 0 auto;
  }

}