<header></header>
<div class="contact">
  <div class="contact-text">
    <div class="shop-title">
      <span>联系我们</span>
    </div>
    <div class="shop">
      <span class="shop-address">佛山市顺德区乐从镇威斯广场中心广场101号铺</span><br />
      <span class="phone-number">18038805100（陈老师）</span>
    </div>
    <div class="wechat-title">
      <span>关注我们</span>
    </div>
    <div>
      <div class="QR"></div>
    </div>
  </div>
  <div class="body-bottom">
    <div id = "map"></div>
  </div>
</div>
<footer></footer>