<header></header>
<div class="container">
  <h2>编程小猴基础班报名</h2>
  <p>请输入您的联系信息，我们将尽快联系您</p>
  <hr>
  <form>
    <div class="form-group">
      <label>学生姓名</label>
      <input type="input" class="form-control" id="exampleInputEmail1" aria-describedby="inputHelp" placeholder="学生姓名">
      <small id="inputHelp" class="form-text text-muted">填写学生姓名</small>
    </div>
    <div class="form-group">
      <label>家长姓名</label>
      <input type="input" class="form-control" id="exampleInputEmail1" aria-describedby="inputHelp" placeholder="家长姓名">
      <small id="inputHelp" class="form-text text-muted">填写家长姓名</small>
    </div>
    <div>
      <label>学生学历</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        小学
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        初中
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        高中
      </label>
    </div>
    <div class="form-btn">
      <button type="submit" class="btn btn-primary">报名</button>
    </div>
  </form>
</div>
<footer></footer>