<content>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-left wow fadeInRight animated phone-width" data-wow-delay=".5s">
          <h4>友情链接</h4>
          <ul>
            <li><a target="_blank" href="http://www.paracraft.cn">Paracraft 创意空间</a></li>
            <li><a target="_blank" href="http://keepwork.com">KEEPWORK</a></li>
          </ul>
        </div>
        <div class="col-md-3 soci wow fadeInRight animated phone-width" data-wow-delay=".5s">
          <h4>关注我们</h4>
          <div>
            <img src="assets/images/qrcode2.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
