<content>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">编程小猴</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="url === '/' ? 'active' : ''">
          <a class="nav-link" routerLink="">首页 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [ngClass]="url === '/signUp' ? 'active' : ''">
          <a class="nav-link" routerLink="/signUp">报名</a>
        </li>
        <li class="nav-item" [ngClass]="url === '/curriculum' ? 'active' : ''">
          <a class="nav-link" routerLink="/curriculum">课程介绍</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="http://paracraft.keepwork.com/archives/category/recommend?lang=zh">作品</a>
        </li>
        <li class="nav-item" [ngClass]="url === '/contact' ? 'active' : ''">
          <a class="nav-link" routerLink="/contact">联系我们</a>
        </li>
      </ul>
    </div>
  </nav>
</content>