.loadingAlert {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.loading {
  zoom: 0.2;
  float: left;
  margin-right: 5px;
}

.loadingText {
  float: right;
  margin-left: 5px;
}