.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
h2 {
  margin-bottom: 20px;
  padding-top: 20px;
}

p {
  color: darkgrey;
  font-size: 12px;
}

hr {
  height: 1px;
  width: 100%;
  color: darkgrey;
}

.form-check {
  display: inline-block;
  margin: 5px;
}

.form-btn {
  margin-top: 5px;
}

.btn {
  width: 100px;
  height: 50px;
}